@{
    ViewData["Title"] = "";
}

@section Scripts {
    <script src="~/js/WebSocket.js"></script>
}

<ul class="nav nav-tabs" id="navChats">
    <li class="active">
        <a class="aMenu" data-username="who" href="#">Who are you?</a>
    </li>
    <li>
        <a class="aMenu" data-username="with" href="#">Chat with</a>
    </li>
</ul>

<div id="divChatConteiner">
    <div id="divWhoAreYou">
        <fieldset>
            <legend>...</legend>
            <label for="inpYouNikename">You are:</label>
            <input id="inpYouNikename" name="inpYouNikename" type="text" placeholder="Type your nikename…">
            <button id="btnIn">LogIn</button>
        </fieldset>
    </div>
    <div id="divChatWith" style="display:none;">
        <fieldset>
            <legend>...</legend>
            <label for="inpOtherNikename">Chat with:</label>
            <input id="inpOtherNikename" name="inpOtherNikename" type="text" placeholder="Type someone's nikename…">
            <button id="btnChatWith">Go</button>
        </fieldset>
    </div>
    <div id="divChatGeneral" style="display:none;">
        <div id="divChatConversations"></div>
        <div>
            <fieldset>
                <legend>...</legend>
                <label>Message:</label>
                <textarea id="taMessage" placeholder="Type something…"></textarea>
                <button id="btnSend">Send</button>
            </fieldset>
        </div>
    </div>
</div>